<div class="body">
<%= form_for [@restaurant, @review] do |f| %>
  <%= f.label :thoughts, :class => 'field' %><br>
  <%= f.text_area :thoughts, :class => 'input'%><br>
  <%= f.label :rating, :class => 'field' %><br>
  <%= f.select :rating, (1..5), :class => 'input' %><br>
  <%= f.submit 'Leave Review', :class => 'field' %>
<% end %>
</div>
